
<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Form1" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true"></span> Simple Form
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Form1a" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true"></span> Enable Submit when Valid
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Form2">
                <span class="" aria-hidden="true"></span> Model with child class
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Form3">
                <span class="" aria-hidden="true"></span> Child class validation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Form4">
                <span class="" aria-hidden="true"></span> List child class
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Form5">
                <span class="" aria-hidden="true"></span> Custom Validation
            </NavLink>
        </div>
    </nav>
</div>

@code {

}
