@using BlazorEditFormExamples.Model
@using BlazorEditFormExamples.Components
@inherits Editor<List<Purchase>>

<div class="mt-4">
    <div class="d-flex flex-row justify-content-between mb-3">
        <h5>Purchase History</h5>
        <button type="button" class="btn btn-secondary align-right" @onclick="AddPurchase"><i class="fa fa-plus me-1"></i>Add Purchase</button>
    </div>
</div>

@for (var i = 0; i < Value.Count; i++)
{
    var index = i;
    var purchase = Value[index];
    <EditPurchase @bind-Value="purchase" RemoveItem="() => Value.RemoveAt(index)" />
}

@code {
    private void AddPurchase()
    {
        Value.Add(new Purchase());
    }
}