@using BlazorEditFormExamples.Model
@using BlazorEditFormExamples.Components
@inherits Editor<List<Purchase>>

<div class="m-4">
    <h5>Purchase History</h5>
    <button type="button" class="btn btn-info" @onclick="AddPurchase">Add Purchase</button>
</div>

@for (var i = 0; i < Value.Count; i++)
{
    var purchase = Value[i];
    <EditPurchase @bind-Value="purchase" />
}

@code {
    private void AddPurchase()
    {
        Value.Add(new Purchase());
    }
}