@page "/Form1"
@page "/"
@using BlazorEditFormExamples.Model
<h3>Simple Form</h3>

<EditForm Model="Model" OnValidSubmit="Save" OnInvalidSubmit="() => Json = string.Empty" class="">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="form-floating">
            <InputText id="FirstName" @bind-Value="Model.FirstName" class="form-control" placeholder="First Name"/>
            <label for="FirstName">First Name</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label for="LastName">Last Name</label>
        </div>
        <div class="col-sm-10">
            <InputText id="LastName" @bind-Value="Model.LastName" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label for="Phone">Phone</label>
        </div>
        <div class="col-sm-10">
            <InputText id="Phone" @bind-Value="Model.Phone" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label for="Email">Email</label>
        </div>
        <div class="col-sm-10">
            <InputText id="Email" @bind-Value="Model.Email" class="form-control" />
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
<div class="mt-5">
<pre>
        @Json
</pre>
</div>

@code {
    public Person Model { get; set; } = new();

    public string Json { get; set; }

    public void Save()
    {
        Json = Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented);
    }
}